body {
  background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-family: 'Open Sans','helvetica',arial,sans-serif;
  font-weight: 300;
  color: #62686f;
}


h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main-header {
  background-image: url(../img/banner.jpg);
  margin-top: 98px;
  text-align: center;
  padding: 1px;
}

.main-header h1 {
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);

}


.main-header__avatar {
  margin-top: -70px;
  margin-bottom: 10px;
  border: 3px solid #fff;

  border-radius: 999px;
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

.main-nav {
  background-color: #333;
  text-align: center;
  margin-top: -20px;
}

.main-nav ul li {
  margin: 15px 10px;
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

ul.inline-items li {
  display: inline-block;
}

.info-section {
  background-color: #fff;
  margin-top: -20px;
  padding: 30px 60px;
  text-align: center;
}

.info-section header {
  padding-bottom: 60px;
}

h2:after{
  content:"";
  display: block;
  width: 80px;
  margin: 10 auto 0 auto;
  border-bottom: 3px solid black;
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-section header p{

}

.info-section__description {
  font-style: italic;
}

ul.nostyle {
  list-style: none;
  padding: 0;
  margin: 0;
}

.whatido__skill-list {
  overflow: hidden;
}

.whatido__skill {
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 100px;
  float: left;
  width: 33.3%;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);

}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
}

.education-experience__list li{
  padding-bottom: 50px;
}

.float-left{
  width: 180px;
  float: left;
}

.content {
  padding-left: 30px;
  overflow:hidden;
  text-align: left;
}

.photos__list {
  overflow: hidden;
}

.photos__list li{
  float: left;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}

.photos__list li img{
  width: 100%;

}
